
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<a asp-action="ShowListUser" asp-controller="User">Show list user</a><br/>
<a asp-action="PostUser" asp-controller="User">Post user</a>

