<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title - Cars Management</title>
</head>
<body>

<h2><a asp-action="Index" asp-controller="Home">Home</a></h2>

    @RenderBody()

</body>
</html>
